header {
    background-color: #4aaaa5;
}
.vl {
    border-left: 1px #666666; 
    height: 12px;
}
body {
    color: #777777;
}
main {
    background-color: #ffffff;
    border-color: #dddddd;
}

footer {
    background-color: #666666;
}
